div#bpt_events {

}

div#bpt_events div.single_bpt_event {
	border: 1px solid #ccc;
	margin-bottom: 10px;
	padding: 10px;
}

div#bpt_events h1.bpt_event_title {

}

div#bpt_events div.bpt_event_location {
	
}
	div#bpt_events p.event_address1,
	div#bpt_events p.event_address2,
	div#bpt_events p.event_city_state,
	div#bpt_events p.event_zip {
		margin-bottom: 0;
	}

a.show_full {
	padding: 5px 0;
	font-size: 12px;
}
div#bpt_events div.bpt_event_descriptions {
	margin-top: 10px;
	margin-bottom: 20px;
}

div#bpt_events div.bpt_short_description {

}

div#bpt_events div.bpt_full_description {
	display: none;
}

div#bpt_events div.bpt_events ul {

}

div#bpt_events div.bpt_events li {
	list-style-type: none;
	padding: 0px;
	margin: 0;
}

div#bpt_events div.bpt_date_list {
	
}
	div.bpt_date_list strong {

	}

	div.bpt_date_list select {
		
	}


div#bpt_events ul.bpt_price_list {
	display: none;
	margin-left: 0;
	padding: 0;
}

	h3.bpt_prices_header {

	}

div#bpt_events li.bpt_single_price {
	list-style-type: none;
	margin-bottom: 10px;
}

	div#bpt_events span.bpt_price_name {

	}

	div#bpt_events span.bpt_price_value {


	}
	div#bpt_events select.price_quantity {
		margin-left: 10px;
		margin-bottom: 0px;
	}
	div#bpt_events p.service_fees {
		font-size: 12px;
		font-style: italic;
		margin-bottom: 0px;
	}

input.add_to_cart {
	display: block;
}
